# Colab / Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Large ML artifacts
emb_cache/
fit_classifier_distilbert/
distilbert_fit_runs/
*.pt
*.bin
*.safetensors

# Data
*.zip
*.tar.gz

# OS
.DS_Store
